@use 'sass:color';

:root{
    --background-header: #000000;
    --transparent-background: #00000050;
    --text-color:#FFF;
    --gray-color: #CCCCCC;
    --primary-color: #F44336;
    --price-color: #616161;
    --product-color: #616161a0;
    --product-meta: #61616190;
    --about-color: #8B5F5B;
    --contact-color: #6C7A81;
}